<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">
<head th:fragment="head">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<meta charset="UTF-8"/>
<title th:text="${titulo}">Insert title here</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-inverse bg-light"  th:fragment="header">
  <a class="navbar-brand" href="#">Spring Boot</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/listar}">Clientes</a>
      </li>
      
    </ul>
  </div>
</nav>
<div th:fragment="messages" class="container">

  
<div class="alert alert-success alert-dismissible" th:if="${success != null}" th:text="${success}"> <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a></div>
<div class="alert alert-danger alert-dismissible" th:if="${error != null}" th:text="${error}"> <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a></div>
<div class="alert alert-warning alert-dismissible" th:if="${warning != null}" th:text="${warning}"> <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a></div>
<div class="alert alert-info alert-dismissible" th:if="${info != null}" th:text="${info}"> <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a> </div>
</div>
<div class="container">
</div>
<footer  th:fragment="footer" class="container">
<center>
	<img th:src="@{/images/spring.png}">
</center>
</footer>
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>