<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>
<nav th:replace="layout/layout :: header"></nav>
<div class="container">
	<h1 th:text="${titulo}"></h1>
	<form th:action="@{/form}" th:object="${cliente}" method="post" enctype="multipart/form-data">
	<div class="row">
		<div class="col-sm-6 col-md-6">Nombre</div>
		<div class="col-sm-6 col-md-6"><input type="text" th:field="*{nombre}" class="form-control"/></div>
		<small class="form-text text-danger" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></small>
	</div>
	<div class="row">
		<div class="col-sm-6 col-md-6">Apellido</div>
		<div class="col-sm-6 col-md-6"><input type="text" th:field="*{apellido}"  class="form-control"/></div>
		<small class="form-text text-danger" th:if="${#fields.hasErrors('apellido')}" th:errors="*{apellido}"></small>
	</div>
	<div class="row">
		<div class="col-sm-6 col-md-6">Email</div>
		<div class="col-sm-6 col-md-6"><input type="email" th:field="*{email}"  class="form-control"/></div>
		<small class="form-text text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></small>
	</div>
	<div class="row">
		<div class="col-sm-6 col-md-6"><input type="hidden" th:field="*{id}"  class="form-control"/></div>
		<div class="col-sm-6 col-md-6"><input type="submit" value="Crear Cliente"  class="btn btn-success btn-lg"></div>
	</div>
	</form>
	</div>
	<footer th:replace="layout/layout :: footer"></footer>
</body>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</html>